<div class="jumbotron text-center">
  <h1>LinkedIoT</h1>
  <p class="lead">Willkommen</p>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <h3>GitBook</h3>
    <a href="https://fklement.gitbooks.io/linked-iot/"><img src="https://urosjarc.github.io/gitbook-plugin-build/media/logo.png" style="width:150px; heigth:150px; padding-top:5px" alt="GitBook"></a>
  </div>
  <div class="col-md-4">
    <h3>GitHub</h3>
    <a href="https://github.com/LinkedIoT"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" style="width:150px; heigth:150px padding-top:5px" alt="GitHub"></a>
  </div>
  <div class="col-md-4">
    <h3>Gitter</h3>
    <a href="http://www.gitter.im/linkediot/lobby"><img src="https://cloud.githubusercontent.com/assets/6047822/7768134/731dfa10-0078-11e5-90b3-e99f55e8ae27.png" style="width:150px; heigth:150px padding-top:5px" alt="Gitter"></a>
  </div>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
