<div *ngIf="user" class="jumbotron">
  <h2>Devices</h2>
  <ul class="list-group" *ngFor="let person of user" style="margin-top:15px">
    <li class="list-group-item">ID: {{person._id}}</li>
    <li class="list-group-item">Vorname: {{person.vorname}}</li>
    <li class="list-group-item">Nachname: {{person.nachname}}</li>
    <input type="button" class="btn btn-info" value="Initialize">
  </ul>
</div>

<div *ngIf="user" class="jumbotron">
    <h2>Devices</h2>
  <table class="table table-hover">
    <tr>
      <th scope="col">Vorname</th>
      <th scope="col">Nachname</th>
    </tr>
    <tr *ngFor="let person of user" (click)="showAlert(person)">
      <td>{{person.vorname}}</td>
      <td>{{person.nachname}}</td>
    </tr>
  </table>
</div>

<div *ngIf="!user" class="jumbotron">
  <h2>Keine Devices Vorhanden.</h2>
</div>
